*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.logo img{
    height: 60px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 16px 120px;
}
nav .menu {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    align-items: center;
    
}
nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover {
    background-color: #0d5528;
}
header {
    background-color: #FFFFFF;
}
    #banner {
        background:url('../assets/hero-bg.png') no-repeat center;
        background-size: cover;
        min-height: 674px;
        width: 100%;
        padding: 80px 0 100px;
        text-align: center;
        position: relative;
    }

#banner .banner-content .badge {
    background-color:#FFFFFF;
    color: #30b868;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-content h1 {
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.banner-content .green {
    color: #30b868;
}
.banner-content p {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.banner-content .btntwo {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 16px;
}
.banner-content .btntwo:hover {
    background-color: #FFFFFF;
    color: #30b868;
}
#about {
    background-color: #FFFFFF;
}
#about .about-content {
    max-width: 1360px;
    margin: 0 120px;
    padding: 50px 0;
}
#about .about-content h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #001931;
}
#about .about-content p {
    font-size: 16px;
    color: #474747;
    text-align: center;
    margin-top: 16px;
    line-height: 20px;
    margin-bottom: 44px;
}
#about .cart {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;


}
.cart-item {
    text-align: center;
        border: 1px solid #eee;
        padding: 24px 24px;
        border-radius: 8px;
        max-width: 322px;
        max-height: 300px;
        background: #fff;
}

.cart-item img {
        width: 60px;
        height: 60px;
        padding: 15px;
        background-color: #F95555;
        border-radius: 50%;
        margin-bottom: 16px;
}
.cart-item h3 {
        font-size: 24px;
        font-weight: 500;
        color: #001931;
        margin-bottom: 16px;
        text-align: center;
}
.cart-item p {
        font-size: 16px;
        color: #627384;
        line-height: 20px;
    
}
#soluation {
    max-width: 1360px;
    margin: 120px auto;
}
#soluation .soluation-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
#soluation .soluation-content img {
    max-width: 600px;
    max-height: 100%;
    border-radius: 12px;
}
.soluation-text .green {
    color: #30b868;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}
.soluation-text h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.soluation-text p {
    font-size: 16px;
    color: #627384;
    line-height: 20px;
    margin-bottom: 40px;
}
.list {
    list-style: none;
    
}
.list li {
    margin-bottom: 16px;
    
}
#challenge {
    margin: 120px;
    max-width: 1360px;
    border-radius: 12px;
}
#challenge .challenge-content {
    padding: 80px 40px;
    text-align: center;
    background-color: #F7F6F2;
}
.challenge-content h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.challenge-content p {
    font-size: 16px;
    color: #627384;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 16px;
}


