*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.logo img{
    height: 60px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 16px 120px;
}
nav .menu {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    align-items: center;
    
}
nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}
.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover {
    background-color: #0d5528;
}
header {
    background-color: #FFFFFF;

}